:root {
    --card-background-color: #2d407e;
    --card-hover-color: #00ABB3;
    --card-title-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    height: calc(360px * 0.9);
    width: calc(320px * 0.9);
    border: solid 1px black;
    border-radius: 10%;
    background-color: var(--card-background-color);
}

.card:hover {
    box-shadow: 0 0 15px 5px var(--card-hover-color);
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    font-size: 1.5rem;
    font-family: var(--card-title-font);

}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}